@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700');

/* Removedor de estilo default do navegador */

/* Global Defaults */
 html, body {
 margin: 0px;
 padding: 0px;
 border: 0px;
 }
 body {
 font: 1em/1.25 Arial, Helvetica, sans-serif;
 }

 /* Headlines */
 h1, h2, h3, h4, h5, h6 {
 margin: 0;
 padding: 0;
 font-weight: normal;
 font-family: Arial, Helvetica, sans-serif;
 }

 /* Text Styles */
 p, th, td, li, dd, dt, ul, ol, blockquote, q, acronym, abbr, a, input, select, textarea {
 margin: 0;
 padding: 0;
 font: normal normal normal 1em/1.25 Arial, Helvetica, sans-serif;
 }
 blockquote {
 margin: 1.25em;
 padding: 1.25em
 }
 q {
 font-style: italic;
 }
 acronym, abbr {
 cursor: help;
 border-bottom: 1px dashed;
 }
 small {
 font-size:.85em;
 }
 big {
 font-size:1.2em;
 }

 /* Links and Images */
 a, a:link, a:visited, a:active, a:hover {
 text-decoration: underline;
 }
 img {
 border: none;
 }

 /* Tables */
 table {
 margin: 0;
 padding: 0;
 border: none;
 }

 /* Forms */
 form {
 margin: 0;
 padding: 0;
 display: inline;
 }
 label {
 cursor: pointer;
 }
 

/*Estilo*/
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Comfortaa', cursive;
}
.btn-nav-custom{
    padding-top: 5px !important;
    padding-left: 0px;
    padding-right: 0px;
    color: white !important;
}
.btn-nav-custom:focus{
    outline: none;
    outline-offset: opx;
}
.nav-custom{
    background: rgba(0,0,0,0.4);
}
.nav-link{
    color: white;
}
.nav-link :hover{
    color: goldenrod !important;
}
section{
    width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
    padding-top: 50px;
}
.home{
    background-image: url("../img/bgh.jpg");
    background-position: center;
    background-size: cover;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}
.home h1{
    text-shadow: 0 0 100px black;
}
.home h3{
    text-shadow: 0 0 90px black;
}
.info h2{
    padding-top: 15px;
}
.img-perfil{
    width: 20%;
}
.contato{
    background-color: #36393b;
    height: 200px;
    color: #f4f8fc;
}
.contato h1{
    color: white;
}
.contato .display-4{
    color: white;
    text-decoration: none;
    line-height: 150%;
}
.contato .display-4:hover{
    color: white;
    text-decoration: none;
}
@media screen and (max-width: 600px) {

p{
font-size: 80%;
}
h1{
font-size: 200%;
}
h2{
font-size: 160%;
}
h3{
font-size: 140%;
}
.nav{
display: inline;
}
.nav a{
text-align: center !important;
font-size: 200%;
}
.nav-custom{
background: rgba(0,0,0,0.8);
}
.contato .display-4{
font-size: 240%;
}
.card{
padding-top: 10px;
}
}
